@model IEnumerable<ECommerce.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_Layout.cshtml";
}

<h1>SẢN PHẨM</h1>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/DetailSP.css">
</head>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiTietSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongMuaToiThieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThuongHieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhaCungCap)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                <img src="~/image/@item.HinhAnh" height="100" width="85" alt="image" />
            </td>
            <td>
                <iframe src="@item.Video" width="150px" height="80px" allowfullscreen="true"></iframe>
            </td>
            <td width="150px">
                <div class="post-summary">
                    @Html.DisplayFor(modelItem => item.ChiTietSP)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongMuaToiThieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loai.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuongHieu.TenTH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCungCap.TenNhaCC)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSP">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSP">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSP">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
